.dispatch
  display flex
  display: -ms-flexbox;
  overflow hidden
  // height calc( 88vh - 83px )

  &-part
    flex none
    -ms-flex none

    &:first-child
      width 440px
    &:last-child
      width calc(100% - 620px)

    &-title
      height 32px
      line-height 32px
      margin-bottom 10px
      font-size 14px
      font-weight: bolder

  &-actions
    display flex
    display: -ms-flexbox
    flex-wrap wrap
    -ms-flex-wrap wrap
    align-items center
    -ms-flex-align center
    justify-content center
    -ms-flex-pack center
    flex 0 0 120px
    -ms-flex 0 0 120px
    text-align center
    max-height calc( 88vh - 100px )

  &-empty
    display flex
    display: -ms-flexbox
    flex-direction column
    justify-content center
    -ms-flex-pack center
    align-items center
    -ms-flex-align center
    height calc( 100% - 60px )
    min-height calc( 88vh - 100px )
    border 1px solid #C9CED9

    &-img
      width 70px
      margin-bottom 12px

    p
      color #999999
      text-align center
