.info-detail
  .info
    .title
      height: 45px;
      .icontTitle
        width: 5px;
        height: 20px;
        background: #00a4bd;
        display: inline-block;
        border-radius:3px;
        float: left;
        margin-top: 4px;
      .iconTitleP
        font-weight bold
        padding-left 15px
        margin-bottom 18px
        font-size 20px
    .list-info
      border-top 1px dashed #cbced3
      padding-top 25px
      .row
        margin-bottom 20px
        .label
          color #777

  .tabs
    margin-top 32px
    .add
      margin-bottom 14px
.blank
  /deep/ .ivu-form-item-label:before
    visibility: hidden

.modal
  /deep/ .ivu-form  .ivu-form-item-label
    text-align left!important
//  /deep/ .ivu-modal-body
//    padding 16px 30px
 /*字体大小修改*/
 /deep/ .ivu-input
   font-size 13px
 /deep/ textarea.ivu-input
   font-size 13px

//   修改button按钮样式
.left .ivu-btn-primary,
.add .ivu-btn-primary
  width 86px
  height 35px
  font-size 13px
.tabs /deep/
  .ivu-tabs-nav-container
    font-size 16px
//  三个页面公共样式
.header
  display flex
  justify-content space-between
  margin-bottom 14px
.footer
  margin-top 22px
  display flex
  justify-content flex-end

//  搜搜样式
.search-input
  display inline-block
  width: 200px

  &-senior
    display inline-block
    width: 200px
    margin-right 20px
.search-btn-easy
  width 40px
  height 32px
  margin-left -2px
  margin-right 0
  border-top-left-radius 0
  border-bottom-left-radius 0

//  详情部分字体大小修改
.list-info
  font-size 14px
.modalTitle
  font-size: 16px;
  color: #17233d;
  font-weight: bold;
  margin-bottom: 20px;
.footerSty
  margin-top:20px;
.lineDiv
  background: #f9f9f9;;
  padding: 25px 25px 0 25px;
  margin-bottom: 20px;
.unitSty
  margin-left: -20px;
.lineSpanLabel
  height: 30px;
  width: 60%;
  background: #f9f9f9;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
.uploadLabel
  margin-left: 60px;
.imageDiv
  width: 160px;
  height: 90px;
