.info-detail
  .info
    .title
      font-weight bold
      font-size 20px
      border-left 4px solid #00A4BD
      padding-left 15px
      margin-bottom 18px
    .list-info
      border-top 1px dashed #cbced3
      padding-top 25px
      .row
        margin-bottom 20px
        .label
          color #777

  .tabs
    margin-top 32px
    .add
      margin-bottom 14px
.blank
  /deep/ .ivu-form-item-label:before
    visibility: hidden

.modal
  /deep/ .ivu-form  .ivu-form-item-label
    text-align left!important
 /deep/ .ivu-modal-body
   padding 16px 30px
 /*字体大小修改*/
 /deep/ .ivu-input
   font-size 13px
 /deep/ textarea.ivu-input
   font-size 13px

//   修改button按钮样式
.ivu-btn-primary
  width 86px
  height 35px
//  三个页面公共样式
.header
  display flex
  justify-content space-between
  margin-bottom 14px
.footer
  margin-top 22px
  display flex
  justify-content flex-end
