.container
  margin 18px
  background #fff
  padding 20px 16px
  .header
    display flex
    justify-content:space-between
    margin-bottom 14px
  .content
    margin-bottom 22px
  .footer
    display flex
    justify-content flex-end

