.info-detail
  //min-height 700px
  .info
    .title
      height: 45px;
      .icontTitle
        width: 5px;
        height: 20px;
        background: #00a4bd;
        display: inline-block;
        border-radius:3px;
        float: left;
        margin-top: 4px;
      .iconTitleP
        font-weight bold
        padding-left 15px
        margin-bottom 18px
        font-size 20px
      .btnItem
        float: right;
        margin-right: 10px;
        .btnSty
          margin-right: 10px;
          width: 80px;
    .list-info
      margin-bottom 32px
      border-top 1px dashed #cbced3
      padding-top 25px
      .row
        margin-bottom 20px
        .label
          color #777
          width: 100px
          display: inline-block

  .tabs
    .add
      margin-bottom 14px
      height: 30px;
.blank
  /deep/ .ivu-form-item-label:before
    visibility: hidden

// .modal
//   /deep/ .ivu-form  .ivu-form-item-label
//     text-align left!important
//  /deep/ .ivu-modal-body
//    padding 16px 30px
 /*字体大小修改*/
 /deep/ .ivu-input
   font-size 13px
 /deep/ textarea.ivu-input
   font-size 13px

//   修改button按钮样式
.left .ivu-btn-primary,
.add .ivu-btn-primary, .add .ivu-btn-default
  width 80px
  margin-right: 20px
.tabs /deep/
  .ivu-tabs-nav-container
    font-size 16px
//  三个页面公共样式
.header
  display flex
  display -ms-flexbox
  justify-content space-between
  -ms-flex-pack justify
  margin-bottom 14px
.footer
  margin-top 22px
  display flex
  display -ms-flexbox
  justify-content flex-end
  -ms-flex-pack end
  text-align: right
  /deep/ .ivu-table-wrapper
    margin-bottom: 20px
  /deep/ .ivu-page-item-active
    background-color: #00a4bd
    border-radius: 5px
    a
      color: #ffffff

//  搜搜样式
.search-input
  display inline-block
  width: 200px

  &-senior
    display inline-block
    width: 200px
    margin-right 20px
.search-btn-easy
  width 40px
  height 32px
  margin-left -2px
  margin-right 0
  border-top-left-radius 0
  border-bottom-left-radius 0
  float right
//  详情部分字体大小修改
.list-info
  font-size 14px
.modalTitle
  font-size: 16px;
  color: #17233d;
  font-weight: bold;
  margin-bottom: 20px;
.footerSty
  margin-top:20px;
.lineDiv
  background: #f9f9f9;;
  padding: 25px 25px 0 25px;
  margin-bottom: 20px;
.unitSty
  margin-left: -20px;
.lineSpanLabel
  height: 30px;
  background: #f9f9f9;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-right: 30px;
  padding: 0 20px;
.uploadLabel
  margin-left: 60px;
.imageDiv
  width: 160px;
  height: 90px;
  cursor: pointer
.rightSearch
  float right
.addRepair
  margin-top: 35px;
.addRepairTable
  margin-top: 10px;
.vermiddle
  vertical-align: middle
.numbrtBar
  display: flex
  span
    margin-left: 5px
.fileImage
  width 160px
  height 90px
  float left
  margin-right 15px
  cursor pointer
.infoImage
  float left
  text-align center
.titleInput
  width 160px
  display block
  line-height 36px
