.query-box
  padding: 20px 10px
  margin-bottom: 30px
  background-color: #f9f9f9
  /deep/ .ivu-form-item,.ivu-date-picker
    margin-bottom: 0
    width: 100%
  .item-row
    margin-top 20px
  .query-btn
    margin-left 21px
    button
      width 86px
      height 32px
      margin-right 10px
.operateBtn
  margin-bottom 12px
  .actionBtn
    width 80px
    height 32px
    margin-right 10px



