.ivu-btn
  height 35px

.ivu-btn-default
  background #F9F9F9

.detail-header
  height 60px
  padding-left 24px
  line-height  60px
  background #E9FCFF

  &-list
    &-item
      display inline-block
      margin-right 28px

.detail-btn-group
  height 32px
  text-align right
  margin 23px

.detail-btn-item
  margin-left 15px
  width 80px

.detail-field-group
  font-size 13px
  line-height 3

.detail-field-title
  position relative
  color #777
  display inline-block
  width 100px
  padding-left 10px
  vertical-align top

  &-sm
    position relative
    color #777
    display inline-block
    width: 80px
    padding-left 10px
    vertical-align top

.detail-field-fee
  font-weight bold

.detail-field-required:before
  content "*"
  position absolute
  width 10px
  height 39px
  left 0
  top 0
  line-height 39px
  text-align center
  color #EC4E4E

.detail-part-title
  margin-top 40px

  span
    height 34px
    font-size 24px
    font-weight bolder
    line-height 34px
    margin-left 18px
    vertical-align text-bottom

  &:before
    content ' '
    display inline-block
    width 5px
    height 25px
    background rgba(0,164,189,1)
    border-radius 3px

  &:after
    content ' '
    display block
    margin 25px 0
    border-bottom 1px dashed rgba(203,206,211,1)

.table-footer
  height 48px
  border 1px solid #dcdee2
  border-top none
  line-height 48px
  font-weight: bolder

  &-title
    padding-left 18px
    font-weight normal

  span
    display inline-block
    margin-right 44px

.detail-payment-way
  display inline-block
  width calc( 100% - 80px )

.detail-payment-calc
  display inline-block
  height 32px
  line-height 32px
  margin-left 10px
  vertical-align middle

  .icon-jisuanqi1
    font-size 20px

.detail-log
  display flex
  justify-content flex-start
  padding-bottom 50px

  &-icon
    width 26px
    height 26px
    background rgba(0,164,189,1)
    border-radius 5px
    margin 0 60px 0 30px
    text-align center
    cursor pointer

    i
      display block
      width 16px
      height 16px
      margin 5px
      background url(../../../assets/img-icon-expand.png) no-repeat
      background-size contain
      transition all 0.3s linear

  &-timeline
    height 15px
    margin-top 7px
    transition all 0.3s linear
    overflow hidden

    &-item
      i
        display inline-block
        width 12px
        height 12px
        background-color #C9CED9
        border-radius 50%
        vertical-align middle
      &:first-child
        i
          background-color #00A4BD

  &-show
    transform rotate(180deg)

.detail-edit-footer
  margin-top 50px
  margin-bottom 60px
  text-align: center

  &-btn
    width 86px
    margin 0 12px

.detail-payment-input
  width 95px

  span
    font-size 11px
    line-height 32px
    color #999999

.detail-info-input
  display inline-block
  width calc( 100% - 100px ) !important

  &-half
    display inline-block
    width calc( 50% - 56px )






