// iview样式覆盖
ul
  list-style none

// .ivu-form-item
//   margin-bottom 20px
// .ivu-form-item:last-child
//   margin-bottom: 0
.ivu-input-group-prepend
  background transparent
  border-right none

// 表单样式
.form-body
  position absolute

  .ivu-input-wrapper
    position relative

  .form-title
    padding-top 15px
    border-bottom none
    text-align center
    font-weight bolder
    font-size 18px

  .form-content
    margin 24px

  .form-captcha-input
    width calc( 100% - 112px )

    .ivu-input
      border-top-right-radius 0
      border-bottom-right-radius 0

  .form-captcha
    position absolute
    width 110px
    height 32px
    right 0
    top 1px
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    overflow hidden

    &-img
      display block
      width 100%
      height 100%
      cursor pointer

    .form-button
      margin-top 20px
