.dispatch
  display flex
  overflow hidden
  // height calc( 88vh - 30px - 36px - 16px )

  &-part
    flex 1

    &-title
      height 32px
      line-height 32px
      margin-bottom 10px
      font-size 14px
      font-weight: bolder

  &-actions
    display flex
    flex-wrap wrap
    align-items center
    justify-content center
    flex 0 0 120px
    text-align center
